.chart-hide-legend-text .legend-title-text {
  display: none !important;
}

.ngx-charts {
  float: left;
  overflow: scroll;

  .circle,
  .bar,
  .arc {
    cursor: default;
  }

  .bar,
  .cell,
  .arc,
  .card {
    &.active,
    &:hover {
      opacity:1;
      transition: opacity 100ms ease-in-out;
    }

    &:focus {
      outline: none;
    }
    &.hidden {
      display: none;
    }
    cursor: default;
  }

  g {
    &:focus {
      outline: none;
    }
  }

  .line-series,
  .line-series-range,
  .area-series {
    &.inactive {
      transition: opacity 100ms ease-in-out;
      opacity: 0.2;
    }
  }

  .line-highlight {
    display: none;

    &.active {
      display: block;
    }
  }

  .area {
    opacity: 0.6;
  }

  .circle {
    &:hover {
      cursor: pointer;
    }
  }

  .label {
    font-size: 12px;
    font-weight: normal;
  }

  .tooltip-anchor {
    fill: rgb(0, 0, 0);
  }

  .gridline-path {
    stroke: #ddd;
    stroke-width: 1;
    fill: none;
  }

  .grid-panel {
    rect {
      fill: none;
    }

    &.odd {
      rect {
        fill: rgba(0, 0, 0, 0.05);
      }
    }
  }

  // Change the X-Axis Label
  .chart-x-axis > g > g[ngx-charts-axis-label] > text {
    font-weight: bold;
    transform: translate(0px,5px); // Adds a 5px padding between Label and ticks
  }

  // Change the Y-Axis Label
  .chart-y-axis > g > g[ngx-charts-axis-label] > text {
    font-weight: bold;
  }
}

// Style the Chart Legend
ngx-charts-legend {
  height: 500px; // When legend is on the right, this must match the View Height e.g. [view]="[1000,500]"
  .chart-legend {
    margin-top: 20px;
    .legend-title {
      display: none;
    }
  }
}

.legend-labels * {
  cursor: default !important; // This disables mouse hover cursor on the legend labels
  color: #000; // This disables mouse hover effect on the legend labels
}

.scale-selector {
  display: flex;
  flex-direction: row;
  margin: 5px 0 10px 0;
}

.scale-selector > button {
  width: 120px;
  padding: 2px;
  margin: -1px;
}

.scale-selector > button:nth-child(1) {
  border-radius: 30px 0 0 30px;
}

.scale-selector > button:nth-child(2) {
  border-radius: 0 30px 30px 0;
}

.metric-selector {
  display: flex;
  flex-direction: row;
  margin: 0 12px;
  align-items: center;
}

.metric-selector-text {
  margin-right: 3px;
}

.selector-button {
  display: flex;
  flex-direction: row;
}

.selector-button-text {
  flex-grow: 1;
}

.metric-selector-div {
  min-width: 60px;
}
