<ga-ngx-charts-grouped-vertical-bar
  [view]="[1000,500]"
  [results]="dualChartData"
  [enableYAxis2]= "true"
  [animations]= "true"
  [roundEdges]= "false"
  [showGridLines] = "true"
  [showGridLines2] = "true"
  [yScaleMax]="yScaleMax"
  [showXAxisLabel]= "true"
  [xAxisLabel]= "'Resources and Reserves Categories'"
  [trimXAxisTicks]="false"
  [rotateXAxisTicks]="true"
  [showYAxisLabel]= "true"
  [showYAxisLabel2]= "true"
  [yAxisLabel]="'Tonnage (MT)'"
  [yAxisLabel2]="'Grade (%)'"
  [groupPadding]="50"
  [barPadding]="0"
  [showDataLabel]="false"
  [showLegend]="true"
  [legendTitle]="'LEGEND TITLE'"
  [legendPosition]="legendPosition"
  (dataItemClick)="onDataItemClick($event)"
>
</ga-ngx-charts-grouped-vertical-bar>
