<!--<div>-->
<!--  <ga-box-plot-series-chart-->
<!--    [view]="[1000, 500]"-->
<!--    [results]="boxData"-->
<!--    [scheme]="colorScheme"-->
<!--    [schemeType]="schemeType"-->
<!--    [customColors]="customColors"-->
<!--    [boxColor]="'#888888'"-->
<!--    [boxHasRoundedEdges]="true"-->
<!--    [xAxis]="true"-->
<!--    [yAxis]="true"-->
<!--    [legend]="false"-->
<!--    [legendPosition]="legendPosition"-->
<!--    [showXAxisLabel]="true"-->
<!--    [showYAxisLabel]="true"-->
<!--    [tooltipDisabled]="false"-->
<!--    [xAxisLabel]="'Country'"-->
<!--    [yAxisLabel]="'GDP Per Capita'"-->
<!--    [showGridLines]="true"-->
<!--    [roundDomains]="false"-->
<!--    [animations]="true"-->
<!--    [whiskerStrokeWidth]="5"-->
<!--    [whiskerNotchLineWidth]="10"-->
<!--    [medianLineWidth]="5"-->
<!--    (legendLabelClick)="onLegendLabelClick($event)"-->
<!--    (selectItem)="select($event)"-->
<!--    (activateItem)="activate($event)"-->
<!--    (deactivateItem)="deactivate($event)"-->
<!--  >-->
<!--  </ga-box-plot-series-chart>-->
<!--</div>-->

<!--<div>-->
<!--  <ga-custom-polar-chart-->
<!--    [view]="[750,550]"-->
<!--    [results]="polarChartData"-->
<!--    [animations]="true"-->
<!--    [showLegend]="false"-->
<!--    [gradient]="false"-->
<!--    [xAxis]="true"-->
<!--    [yAxis]="true"-->
<!--    [showXAxisLabel]="false"-->
<!--    [showYAxisLabel]="false"-->
<!--    [showYGridLines]="false"-->
<!--    [showXGridLines]="true"-->
<!--    [rangeFillOpacity]="0"-->
<!--    [roundDomains]="true"-->
<!--    [tooltipDisabled]="false"-->
<!--    [showSeriesOnHover]="true"-->
<!--    [trimYAxisTicks]="true"-->
<!--    [maxYAxisTickLength]="16"-->
<!--    [yAxisMinScale]="-4"-->
<!--    [yAxisMaxScale]="6"-->
<!--    [autoScale]="false"-->
<!--    [labelPositionOnSides]="false"-->
<!--    [yAxisTicksInCentre]="true"-->
<!--    (select)="select($event)"-->
<!--    (activate)="activate($event)"-->
<!--    (deactivate)="deactivate($event)">-->
<!--  </ga-custom-polar-chart>-->
<!--</div>-->


<!--<div>-->
<!--  <ga-ngx-charts-grouped-vertical-bar-->
<!--    [view]="[1000,500]"-->
<!--    [data]="data1"-->
<!--    [animations]= "true"-->
<!--    [roundEdges]= "true"-->
<!--    [showGridLines] = "true"-->
<!--    [showXAxisLabel]= "true"-->
<!--    [xAxisLabel]= "'Resources and Reserves Categories'"-->
<!--    [trimXAxisTicks]="false"-->
<!--    [autoRotateXAxisTicks]="true"-->
<!--    [showYAxisLabel]= "true"-->
<!--    [yAxisLabel]="'Tonnage (MT)'"-->
<!--    [groupPadding]="50"-->
<!--    [barPadding]="0"-->
<!--    [roundDomains]="true"-->
<!--    [showDataLabel]="false"-->
<!--    [showLegend]="true">-->
<!--  </ga-ngx-charts-grouped-vertical-bar>-->
<!--</div>-->



<div>
  <ga-ngx-charts-grouped-vertical-bar
    [view]="[1000,500]"
    [data]="data2"
    [animations]= "true"
    [roundEdges]= "true"
    [showGridLines] = "true"
    [showXAxisLabel]= "true"
    [xAxisLabel]= "'Resources and Reserves Categories'"
    [trimXAxisTicks]="false"
    [autoRotateXAxisTicks]="true"
    [showYAxisLabel]= "true"
    [yAxisLabel]="'Tonnage (MT)'"
    [groupPadding]="50"
    [barPadding]="0"
    [roundDomains]="true"
    [showDataLabel]="false"
    [showLegend]="true"
    [legendTitle]="'Legend Title'">
    <ng-template #tooltipTemplate let-model="model">
      <h3>{{ model.name }}: {{ model.value }}%</h3>
    </ng-template>
  </ga-ngx-charts-grouped-vertical-bar>
</div>
