<div>
  <ga-ngx-charts-grouped-vertical-bar
    [view]="[1000,500]"
    [data]="data1"
    [animations]= "true"
    [roundEdges]= "true"
    [showGridLines] = "true"
    [yScaleMax]="yScaleMax"
    [showXAxisLabel]= "true"
    [xAxisLabel]= "'Resources and Reserves Categories'"
    [trimXAxisTicks]="false"
    [autoRotateXAxisTicks]="true"
    [showYAxisLabel]= "true"
    [yAxisLabel]="'Tonnage (MT)'"
    [groupPadding]="50"
    [barPadding]="0"
    [roundDomains]="true"
    [showDataLabel]="false"
    [showLegend]="true"
    [legendTitle]="'Legend'"
    [legendPosition]="legendPosition"
    (dataItemClick)="onDataItemClick($event)">
  </ga-ngx-charts-grouped-vertical-bar>
</div>
<div>
  <ga-ngx-charts-grouped-vertical-bar
    [view]="[1000,500]"
    [data]="data2"
    [animations]= "true"
    [roundEdges]= "true"
    [showGridLines] = "true"
    [yScaleMax]="yScaleMax"
    [showXAxisLabel]= "true"
    [xAxisLabel]= "'Resources and Reserves Categories'"
    [trimXAxisTicks]="false"
    [autoRotateXAxisTicks]="true"
    [showYAxisLabel]= "true"
    [yAxisLabel]="'Tonnage (MT)'"
    [groupPadding]="50"
    [barPadding]="0"
    [roundDomains]="true"
    [showDataLabel]="false"
    [showLegend]="true"
    [legendTitle]="'Legend'"
    [legendPosition]="legendPosition"
    (dataItemClick)="onDataItemClick($event)">
  </ga-ngx-charts-grouped-vertical-bar>
</div>
